body
	overflow-x: hidden
	margin: 0
	padding: 0
	background-color: purpure

*
	box-sizing: border-box

ul
	margin: 0;
	padding: 0

ul 
	li
		list-style: none

a
	outline: none
	text-decoration: none
	color: #fff

h1
	font-size: 42px
	line-height: 15px

p
	margin: 0
	padding: 0
	border-radius: 100%

.uncss
	margin: 100px
	padding: 100px

.watch
 margin-top: 10px
 background-color: #FFF